*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: arial;
}


nav .menu{
   position: absolute;
   top: 20px;
   left: 20px;
   font-size: 34px;
   border: none;
   background: none;
   
}

.sidebar{
   position: absolute;
   background-color: rgb(4, 161, 109);
   width: 300px;
   height: 100%;
   transform: translateX(-100%);
   
}
.showView{
   transform: translateX(0);
}

.sidebar .heading{
   background-color: rgb(200, 230, 33);
   text-align: center;
   padding: 30px;
   font-size: 22px;
   text-decoration: underline;
   color: rgb(250, 1, 1);
}

.heading:hover{
   color: rgb(0, 0, 0);
   text-decoration: none;
   
}
.sidebar ul{
   margin: 20px;;
}

.sidebar ul li{
   list-style-type: none;
   padding: 10px;
   transition: ease-in-out 0.2s;
}
.sidebar ul li a{
   text-decoration: none;
   color: white;
   font-size: 18px;
   
}

.sidebar ul li:hover{
   background-color: rgb(43, 43, 43);
   border-radius: 5px;
}

.sidebar ul li a i{
   margin-right: 9px;
}

